RewriteEngine on

RewriteRule ^raw_data$ raw_data.php?$1 [QSA,L]
RewriteRule ^motd_data$ motd_data.php?$1 [QSA,L]
RewriteRule ^submit$ submit.php?$1 [QSA,L]
RewriteRule ^search$ search.php?$1 [QSA,L]
RewriteRule ^weather_data$ weather_data.php?$1 [QSA,L]
RewriteRule ^serviceWorker.min.js$ static/dist/js/serviceWorker.min.js?$1 [QSA,L]
RewriteRule ^login$ login.php?$1 [QSA,L]
RewriteRule ^logout$ logout.php?$1 [QSA,L]
RewriteRule ^register$ register.php?$1 [QSA,L]
RewriteRule ^(cron/|lib/|LICENSE/|config/|/scripts) - [F,L,NC]
