.delete-community{
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  border-top-left-radius: 10px;
  background: rgb(255, 0, 0);
  padding: 5px;
  color: rgb(255, 255, 255);
}

.button {
    background: #a2d696;
    background: -webkit-linear-gradient(left, #a2d696 1%, #21cca8 99%);
    background: -o-linear-gradient(left, #a2d696 1%, #21cca8 99%);
    background: linear-gradient(to right, #a2d696 1%, #21cca8 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d696', endColorstr='#21cca8', GradientType=1);
    border-radius: 60px;
	color: #e3fede;
}
