.dark {
    #nav {
        background: $background-color-dark !important;
    }
    .leaflet-popup-content-wrapper {
        background: $popup-color-dark;
        color: $text-color-dark;
    }
    .leaflet-popup-tip {
        background: $popup-color-dark;
    }
}
