.dark {
    #nav {
        background: $background-color-dark !important;
        .ui-state-default {
            background-color: $background-color-dark !important;
            color: $text-color-dark;
            border-left: none;
            border-right: none;
            border-top: none;
        }
        .ui-widget-content {
            background-color: $background-color-dark !important;
            border-left: none;
            border-right: none;
            border-bottom: none;
        }
        h3#ui-id-13 {
            border-bottom: 1px solid;
        }
        .form-control {
            h3 {
                color: $text-color-dark;
            }
        }

        .onoffswitch .onoffswitch-label {
            background-color: $background-color-dark;
        }
        .onoffswitch .onoffswitch-label:before {
            background-color: $background-color-dark;
        }

        .onoffswitch-checkbox:checked+.onoffswitch-label {
            background-color: #13a260;
        }
        .onoffswitch-checkbox:checked+.onoffswitch-label:before {
            background-color: #13a260;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            background-color: $background-color-dark !important;
            color: $text-color-dark;
        }

        select {
            background-color: $background-color-dark;
            color: $text-color-dark;
        }

        .pokemon-list .pokemon-icon-sprite {
            border: none;
        }
        .item-list .item-icon-sprite{
            border: none;
        }
        .grunt-list .grunt-icon-sprite{
            border: none;
        }
        label[for=exclude-quests-pokemon] .pokemon-list .active {
            background: #f00;
        }
        label[for=exclude-quests-item] .item-list .active {
            background: #f00;
        }
        label[for=exclude-grunts] .grunt-list .active {
            background: #f00;
        }
        input {
            background: $popup-color-dark;
            color: $text-color-dark;
            border: 1px solid;
        }
        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border: none;
        }
        .select2-container--default .select2-selection--multiple {
           background: $popup-color-dark;
           color: $text-color-dark;
        }
        ul {
            li {
                a {
                    border: 1px solid #3b3b3b;
                }
            }
       }
       p {
           color: $text-color-dark;
       }
       span.pokemon-number {
           color: $text-color-dark;
       }
    }
    .leaflet-popup-content-wrapper {
        background: $popup-color-dark;
        color: $text-color-dark;
        b {
            color: $text-color-dark;
        }
    }
    .leaflet-popup-tip {
        background: $popup-color-dark;
    }
    .leaflet-container a.leaflet-popup-close-button {
        color: red !important;
    }
}
