/* Nav */

#leftNav {
    top: 3.5em;
    max-width: 90%;
    .offcanvas-body.left {
        padding: 0px;
        #accordionNav {
            border-bottom: 1px solid #e7e7e7;
            .accordion-header {
                margin-left: 0;
                line-height: normal;
                padding: 1px 0px;
                .accordion-button {
                    margin-top: 0;
                    background-color: white !important;
                    &:focus {
                        border-color: white !important;
                        box-shadow: none !important
                    }
                    &:not(.collapsed)::after, &::after {
                        /* background-image: url('/static/images/pokemon.png'); */
                        filter: brightness(0%);
                        right: 15px;
                        position: relative;
                    }
                    h5 {
                        margin: 0;
                    }
                }
            }
            .form-check-label {
                position: relative;
                left: -35px;
            }
            .form-check-input {
                float: right;
            }
            label {
                font-size: 14px;
            }
            input.search.search-input {
                position: relative;
                height: 31px;
                width: 100%;
                padding: 12px 20px;
                margin-bottom: 2px;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: 3px;
                outline: none;
            }
            li.place-result {
                padding: 5px;
                border: 1px solid rgba(0,0,0,.125);
                border-top: none;
                border-radius: 5px;
                font-size: 13px;
                cursor: pointer;
                background-color: #f8f9fa;
            }
            .nav-tabs {
                border-bottom: unset;
            }
            .scroll-container {
                width: 100%;
                max-height: 17em;
                overflow: hidden;
                overflow-y: scroll;
            }
            .select-all, .hide-all,
            .select-all-grunt, .hide-all-grunt,
            .select-all-item, .hide-all-item,
            .select-all-energy, .hide-all-energy,
            .select-all-egg, .hide-all-egg {
                width: 48%;
                margin: 2px;
            }
            button#exclude-pokemon-tab, button#exclude-min-iv-tab,
            button#exclude-quest-pokemon-tab, button#exclude-quest-item-tab, button#exclude-quest-energy-tab,
            button#exclude-rocket-tab,
            button#exclude-raidboss-tab, button#exclude-raidegg-tab,
            button#notify-pokemon-tab {
                color: #495057 !important;
                background-color: #f8f9fa;
                line-height: 1;
                font-size: 11px;
                border: 1px solid rgba(0, 0, 0, .125);
                margin: 0;
                &.active {
                    background-color: #6c757d;
                    color: #fff !important;
                }
            }
            button#exclude-pokemon-tab, button#exclude-min-iv-tab {
                margin-top: 8px;
            }
            .pokemon-list, .energy-list, .grunt-list, .raidegg-list, .item-list {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: row wrap;
                flex-flow: row wrap;
                -webkit-align-items: center;
                align-items: center;
                text-align: center;
                max-width: 100%;
                .pokemon-icon-sprite, .energy-icon-sprite, .grunt-icon-sprite, .raidegg-icon-sprite, .item-icon-sprite {
                    border: 1px solid rgba(0, 0, 0, .125);
                    border-radius: 2px;
                    background-color: #f7f7f7;
                    width: calc(20% - 2px);
                    margin-bottom: 2px;
                    margin-left: 1px;
                    margin-right: 1px;
                    position:relative;
                    .inner-bg {
                        background-size: 43px;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 48.13px;
                        height: 48.13px;
                        display: block;
                        margin: 0 auto;
                    }
                }
                .active {
                    border: 1px solid red;
                    background: rgba(255, 0, 0, 0.4);
                }
            }
            #notify-pokemon {
                .pokemon-list .active {
                    border: 1px solid #0089ff;
                    background: rgba(0, 114, 255, 0.4);
                }
            }
            #exclude-min-iv {
                .pokemon-list .active {
                    border: 1px solid #12940a;
                    background: rgba(45, 234, 11, 0.4);
                }
            }
            .border.with-radius {
                border-radius: 4px;
                padding: 2px;
            }
        }
    }
}
