/* Nav */

#nav {
  @include vendor('transform', 'translateX(-20.50em)');
  @include vendor('transition', ('transform #{_duration(nav)} ease', 'box-shadow #{_duration(nav)} ease', 'visibility #{_duration(nav)}'));
  -webkit-overflow-scrolling: touch;
  background: #F8F8F8;
  box-shadow: none;
  color: _palette(accent2, fg-bold);
  height: -webkit-calc(100% - 3.5em);
  height: -moz-calc(100% - 3.5em);
  height: calc(100% - 3.5em);
  max-width: 80%;
  overflow-y: auto;
  position: fixed;
  top: 3.50em;
  left: 0;
  visibility: hidden;
  width: 20.50em;
  z-index: 500;
  h3 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: darken(_palette(accent2, bg), 12);
  }
  p {
    margin-bottom: 20px;
    color: darken(_palette(accent2, bg), 12);
  }
  > ul {
    margin: 0 0 (_size(element-margin) * 0.5) 0;

    &.links {
      list-style: none;
      padding: 0;

      > li {
        padding: 0;

        > a:not(.button) {
          border: 0;
          border-top: solid 1px _palette(accent2, border);
          color: inherit;
          display: block;
          letter-spacing: _size(letter-spacing-alt);
          line-height: 3.5em;
          text-decoration: none;
        }

        > .button {
          display: block;
          margin: 0.5em 0 0 0;
        }

        &:first-child {
          > a:not(.button) {
            border-top: 0 !important;
          }
        }
      }
    }
  }

  #pokemon-filter-wrapper{
    #tabs{
      padding:0;
      border:0;
      &:after{
        display: table;
        content: "";
        clear: both;
      }
      .ui-tabs-nav{
        background: transparent;
        border: 0;
        padding: 0;
        li{
          width: 50%;
          box-sizing: border-box;
          margin:0;
          border-right:1px solid #fff;
          &:last-child{
            border-right-color:#c5c5c5;
          }
          &:focus{

          }
          a{
            padding: 0.5em 0.1em;
            text-align: center;
            width: 100%;
          }
        }
      }

      .ui-tabs-panel{
        padding:0;
        .form-control{
          float:none;
          .pokemon-container{
            box-shadow:none!important;
            border:1px solid #3b3b3b;
            max-height:350px!important;
          }
          a{
            width: 50%;
            float: left;
            background: #3b3b3b;
            text-align: center;
            padding: 10px;
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            border-right:1px solid #FFF;
            &:last-child{
              border-right:0;
            }
          }
        }
      }
    }
    .min-stats-row{
      clear:both;
      margin-top:10px;
      margin-bottom:10px;
      .form-control{
        margin-bottom:0;
      }
    }
    .form-row{
      display: -ms-flexbox;
      display: -webkit-flex;
      display:flex;
      align-items:center;
      .form-control{
        label{
          display: -ms-flexbox;
          display: -webkit-flex;
          display:flex;
          align-items:center;
        }
        h3{
          float:left;
          margin-bottom:0;
        }
        input{
          float:left;
          width: 50px;
          text-align:center;
          margin-left: 5px;
        }
      }
    }
  }
  .area-container{
    padding:0!important;
    ul{
      padding:0;
    }
    li{
      list-style: none;
      padding-left: 0;
      width: 50%;
      float: left;
      text-align: center;
      background: #c7c7c7;
      border-top: 1px solid #d8d8d8;
      border-left: 1px solid #d8d8d8;
      border-right: 1px solid #d8d8d8;
      &:hover{
        background:grey;
        a{
          color:#FFF;
        }
      }
    }
    a{
      padding: 10px 5px;
      display: block;
      text-decoration: none;
    }
  }

  label[for="notify-perfection"],label[for="notify-level"]{
    h3{
      float:left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 34px;
      -webkit-align-items:center;
      align-items: center;
      margin-bottom: 0;
    }
  }
  label[for="notify-pokemon"]{
    .pokemon-list .active{
      border: 1px solid #0089ff;
      background: rgba(0, 114, 255, 0.4);
    }
  }
  label[for="exclude-pokemon"]{
    .pokemon-list .active {
      border: 1px solid red;
      background: rgba(255, 0, 0, 0.4);
    }
  }
  label[for="exclude-min-iv"]{
    .pokemon-list .active {
      border: 1px solid #12940a;
      background: rgba(45, 234, 11, 0.4);
    }
  }
  .hide-select-2{
    h3{
      display:inline-block;
      margin-right:10px;
    }
    label > div {
      max-height: 200px !important;
      overflow-y: auto !important;
      padding: 5px !important;
      box-shadow: 0 0 2px #000 !important;
    }
    .select2 {
      display: none;
    }
  }

  .form-control > select,
  .form-control > span {
    float: right;
  }

  .close {
    @include icon('\f00d');
    @include vendor('transition', 'color #{_duration(transition)} ease-in-out');
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 0;
    color: _palette(accent2, fg-light);
    cursor: pointer;
    display: none;
    height: 3.25em;
    line-height: 3.25em;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 7em;

    &:before {
      font-size: 1.25em;
    }

    &:hover {
      color: _palette(accent2, fg-bold);
    }

    @include breakpoint(small) {
      height: 4em;
      line-height: 4em;
    }
  }

  &.visible {
    @include vendor('transform', 'translateX(0)');
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
    visibility: visible;
  }

  .ui-accordion-content {
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
  }
  .ui-state-active,
  .onoffswitch-checkbox:checked + .onoffswitch-label {
    border-color: #3b3b3b;
    background-color: #3b3b3b;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #c0c0c0;
  }
  .ui-accordion-header.ui-state-active {
    color: #d6d6d6;
  }
  .ui-corner-all {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ui-state-focus {
    outline: none;
  }

  #quests-filter-wrapper{
    #quests-tabs{
      padding:0;
      border:0;
      &:after{
        display: table;
        content: "";
        clear: both;
      }
      .ui-tabs-nav{
        background: transparent;
        border: 0;
        padding: 0;
        li{
          width: 50%;
          box-sizing: border-box;
          margin:0;
          border-right:1px solid #fff;
          &:last-child{
            border-right-color:#c5c5c5;
          }
          &:focus{

          }
          a{
            padding: 0.5em 0.1em;
            text-align: center;
            width: 100%;
          }
        }
      }

      .ui-tabs-panel{
        padding:0;
        .form-control{
          float:none;
          .quest-item-container{
            box-shadow:none!important;
            border:1px solid #3b3b3b;
            max-height:350px!important;
          }
          .quest-pokemon-container{
            box-shadow:none!important;
            border:1px solid #3b3b3b;
            max-height:350px!important;
          }
          a{
            width: 50%;
            float: left;
            background: #3b3b3b;
            text-align: center;
            padding: 10px;
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            border-right:1px solid #FFF;
            &:last-child{
              border-right:0;
            }
          }
        }
      }
    }
    .form-row{
      display: -ms-flexbox;
      display: -webkit-flex;
      display:flex;
      align-items:center;
      .form-control{
        label{
          display: -ms-flexbox;
          display: -webkit-flex;
          display:flex;
          align-items:center;
        }
        h3{
          float:left;
          margin-bottom:0;
        }
        input{
          float:left;
          width: 50px;
          text-align:center;
          margin-left: 5px;
        }
      }
    }
  }
  .area-container{
    padding:0!important;
    ul{
      padding:0;
    }
    li{
      list-style: none;
      padding-left: 0;
      width: 50%;
      float: left;
      text-align: center;
      background: #c7c7c7;
      border-top: 1px solid #d8d8d8;
      border-left: 1px solid #d8d8d8;
      border-right: 1px solid #d8d8d8;
      &:hover{
        background:grey;
        a{
          color:#FFF;
        }
      }
    }
    a{
      padding: 10px 5px;
      display: block;
      text-decoration: none;
    }
  }
  .dustslider {
    width: 100%;
    margin-top: 15px;
    p{
      margin-top: 5px;
    }
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border: 0;
    background: url('/static/images/slider-stardust.png');
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 50px;
    height: 50px;
    border: 0;
    background: url('/static/images/slider-stardust.png');
    cursor: pointer;
  }

  label[for="exclude-quests-pokemon"]{
    .pokemon-list .active{
      opacity: 0.4;
      filter: alpha(opacity=40);
      background: #000;
    }
  }
  label[for="exclude-quests-item"]{
    .item-list .active {
      opacity: 0.4;
      filter: alpha(opacity=40);
      background: #000;
    }
  }
  .hide-select-2{
    h3{
      display:inline-block;
      margin-right:10px;
    }
    label > div {
      max-height: 200px !important;
      overflow-y: auto !important;
      padding: 5px !important;
      box-shadow: 0 0 2px #000 !important;
    }
    .select2 {
      display: none;
    }
  }

  .form-control > select,
  .form-control > span {
    float: right;
  }

  .close {
    @include icon('\f00d');
    @include vendor('transition', 'color #{_duration(transition)} ease-in-out');
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 0;
    color: _palette(accent2, fg-light);
    cursor: pointer;
    display: none;
    height: 3.25em;
    line-height: 3.25em;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 7em;

    &:before {
      font-size: 1.25em;
    }

    &:hover {
      color: _palette(accent2, fg-bold);
    }

    @include breakpoint(small) {
      height: 4em;
      line-height: 4em;
    }
  }

  &.visible {
    @include vendor('transform', 'translateX(0)');
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
    visibility: visible;
  }

  .ui-accordion-content {
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
  }
  .ui-state-active,
  .onoffswitch-checkbox:checked + .onoffswitch-label {
    border-color: #3b3b3b;
    background-color: #3b3b3b;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #c0c0c0;
  }
  .ui-accordion-header.ui-state-active {
    color: #d6d6d6;
  }
  .ui-corner-all {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ui-state-focus {
    outline: none;
  }
}
.pokemon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items:center;
  align-items: center;
  text-align:center;
  max-width: 100%;
  img {
    width: calc(20% - 10px);
    padding: 2px;
    margin: -2px -2px;
    box-sizing: border-box;
  }
  .pokemon-icon-sprite{
    border:1px solid #FFF;
    width: calc( 20% - 2px);
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    position:relative;
    .inner-bg{
      width: 48.13px;
      height: 48.13px;
      display: block;
      margin: 0 auto;
    }
  }
  .active {
    border: 1px solid red;
    background: rgba(255, 0, 0, 0.4);
  }
  span.egg-number {
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    width: 20px;
    border-radius: 50%;
    color: white;
    height: 20px;
    font-size: 13px;
  }
}
.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items:center;
  align-items: center;
  text-align:center;
  max-width: 100%;
  img {
    width: calc(20% - 10px);
    padding: 2px;
    margin: -2px -2px;
    box-sizing: border-box;
  }
  .item-icon-sprite{
    border:1px solid #FFF;
    width: calc( 20% - 2px);
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    position:relative;
    .inner-bg{
      width: 48.13px;
      height: 48.13px;
      display: block;
      margin: 0 auto;
    }
  }
  .active {
    border: 1px solid red;
    background: rgba(255, 0, 0, 0.4);
  }
}
li.place-result {
    padding: 5px;
    border: 1px solid #989696;
    border-top: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    background-color: #f1efef;
}
form#search-places {
  margin-bottom: 0px;
}

   .settings {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    line-height: 0.5em;
    text-decoration: none;
    padding: 10px 30px;
} 