.pokestop-label {
  margin-left: 10px;
  margin-right: 10px;
}
.shiny .leaflet-popup-content-wrapper {
  background: #ffffff url('/static/images/stars.svg');
  background-size: 100%;
}

.pokestop-name {
  font-weight: 900;
  color: rgb(54,198,255);
  padding: 1px;
}
.pokestop-quest-name {
  font-weight: 900;
  color: #d26600;
  padding: 1px;
}
.pokestop-quest-artext {
  color: white;
  border-radius: 5px;
  background: #5A5A5A;
  padding: 1px 4px 1px 4px;
}
.pokestop-lure-name {
  font-weight: 900;
  color: #db03d1;
  padding: 1px;
}
.pokestop-rocket-name {
  font-weight: 900;
  color: #444;
  padding: 1px;
}
.pokestop-eventstops-name {
  font-weight: 900;
  color: #cc9933;
  padding: 1px;
}

.pokestop-image {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50px;
  margin: 6px;
  border: 3px solid rgb(54,198,255);
}
.pokestop-quest-image {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50px;
  margin: 6px;
  border: 3px solid #d26600;
}
.pokestop-lure-image {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50px;
  margin: 6px;
  border: 3px solid #db03d1;
}
.pokestop-rocket-image {
    width: 80px;
    height: 80px;
    background-size: cover;
    border-radius: 50px;
    margin: 6px;
    border: 3px solid #444;
}
.pokestop-eventstops-image {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50px;
  margin: 6px;
  border: 3px solid #cc9933;
}

.pokestop-icon-rocket-timer {
    background-color: #c7c7c7;
    color: black;
    top: 50px;
    position: absolute;
    font-size: 11px;
    font-weight: 500;
    border-radius: .25rem!important;
}
.pokestop-icon-eventstops-timer {
    background-color: #c7c7c7;
    color: black;
    top: 50px;
    position: absolute;
    font-size: 11px;
    font-weight: 500;
    border-radius: .25rem!important;
}
