.raid-container{
  .submit-raid{
    cursor:pointer;
    font-size:22px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.raid-modal{
  text-align:center;
  input[type="number"]{
    display:inline;
    width:50px;
    text-align:center;
    margin:0 10px;
  }
  button.submitting-raid {
    width: 73%;
    float: left;
    background: #a2d696;
    background: -webkit-linear-gradient(left, #a2d696 1%, #21cca8 99%);
    background: -o-linear-gradient(left, #a2d696 1%, #21cca8 99%);
    background: linear-gradient(to right, #a2d696 1%, #21cca8 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2d696', endColorstr='#21cca8', GradientType=1);
  }
  button.close-modal {
    width: 25%;
    float: left;
    text-align: center;
    margin-left: 2%;
    padding:0;
    background: red;
    .fa-times{
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.pokemon-list.raid-submission{
  .active{
    border: 1px solid rgb(0, 255, 19);
    background: rgba(0, 255, 19,.7);
  }
}

.timer-cont{
  display:flex;
  align-items: center;
  justify-content: center;
  h5{
    font-size: 14px;
    margin-right: 10px;
  }
  select{
    width:75px;
  }
}
.raid-report{
  .mon-name{
    font-size:14px;
  }
}
