/* Stats */

#rightNav {
   top: 3.5em;
  .offcanvas-body.right {
    padding: 0px;
    h2 {
      margin-left: 0;
    }
  }
  .card-body {
    overflow: hidden;
    overflow-y: auto;
    max-height: 25em;
  }
  #fullStatsToggle {
      margin-top: 0;
  }
}
