.submit-on-off-button{
  position: absolute;
  top: 9.7em;
  right: 13px;
  margin-top: 0;
  padding: 0!important;
  width: 26px;
  line-height: 26px;
  height: 26px;
  &.on{
    background:green;
  }
}
.ui-dialog-content{
  .pokemon-list{
    .pokemon-icon-sprite{
      &.active{
        border: 1px solid rgb(18, 148, 10);
        background: rgba(45,234,11,.4);
      }
      .inner-bg{
        width:48px;
        height:48px;
      }
    }
  }
  .button-container{
    text-align:center;
    button{
      margin-bottom:15px;
    }
  }
}

.quest-modal{
  .questList{
    width:100%;
  }
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display:inline-block;
    margin: 8px;

    &.possible-candidate {
        background-color: white;
        border: 2px solid #008000;
    }

    &.candidate-submitted {
        background-color: #008000;
    }

    &.candidate-declined {
        background-color: #FFA500;
    }

    &.candidate-resubmit {
        background-color: #FFA500;
        border: 2px solid #008000;
    }

    &.candidate-not-eligible {
        background-color: red;
    }
}

input#margin.button {
    border-radius: 50px;
}