.toast-container.right-top, .toast-container.right-bottom {
  z-index: _misc(z-index-base) + 1;
  margin-top: 3em;
  margin-right: 2em;
  .toast {
    background-color: var(--bs-white);
  }
  .toast-header {
    padding: 0.1rem 0.50rem;
  }
  .toast-body {
    img {
      width: 64px;
      height: auto;
    }
    @media only screen and (min-width: 1000px) {
      img {
          width: 128px;
          height: auto;
      }
    }
  }
}
