/* User */

#redBox {
  border: 2px solid red;
  border-radius: 4px;
}

#greenBox {
  border: 2px solid green;
  border-radius: 4px;
}

#one-third {
  width: 30%;
  padding: 0;
}

#margin {
  margin-right: 0.75em;
  margin-left: 0.75em;
  margin-bottom: 15px;
}

h2 {
  margin-left: 1.25em;
}
