.nest-pokemon-sprite {
  background-image: url($spriteLarge);
  background-image: var(--sprite-large);
  background-repeat:no-repeat;
  background-size: 800px;
  top: 5px;
  right: 2px;
  position: absolute;
  -moz-transform-origin: 0 0;
  height: 28.57142857142857px;
  width: 28.57142857142857px;

  @for $i from 1 through $numberOfPokemon {
    &.n#{$i} {
      background-position: -#{(($i - 1) % 28) * 28.57142857142857}px -#{floor(($i - 1) / 28) * 28.57142857142857}px
    }
  }
}
.label-nest-pokemon-sprite {
  background-image: url($spriteLarge);
  background-image: var(--sprite-large);
  background-repeat:no-repeat;
  background-size: 800px;
  top: 42px;
  right: 119px;
  position: absolute;
  -moz-transform-origin: 0 0;
  height: 28.57142857142857px;
  width: 28.57142857142857px;

  @for $i from 1 through $numberOfPokemon {
    &.n#{$i} {
      background-position: -#{(($i - 1) % 28) * 28.57142857142857}px -#{floor(($i - 1) / 28) * 28.57142857142857}px
    }
  }
}
.delete-nest{
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  border-top-left-radius: 10px;
  background: rgb(255, 0, 0);
  padding: 5px;
  color: rgb(255, 255, 255);
}
.submit-nest{
  font-size:20px;
}
.nest-widget-popup{
  .ui-dialog-content.global-nest-modal{
    padding:0;
  }
   .pokemon-list {
    max-height: 331px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
