.pokemon-raid-sprite {
  background-image: url($spriteLarge);
  background-image: var(--sprite-large);
  background-repeat: no-repeat;
  background-size: 840px 540px;
  top: 8px;
  right: 12px;
  position: absolute;
  -moz-transform-origin: 0 0;
  height: 30px;
  width: 30px;

  @for $i from 1 through $numberOfPokemon {
    &.n#{$i} {
      background-position: -#{(($i - 1) % 28) * 30}px -#{floor(($i - 1) / 28) * 30}px
    }
  }
}
