.pokemon-large-raid-sprite {
  display: inline-block;
  background-image: url($spriteLarge);
  background-image: var(--sprite-large);
  background-repeat: no-repeat;
  top: 6px;
  position: relative;
  -moz-transform-origin: 0 0;
  height: 80px;
  width: 80px;

  @for $i from 1 through $numberOfPokemon {
    &.n#{$i} {
      background-position: -#{(($i - 1) % 28) * 80}px -#{floor(($i - 1) / 28) * 80}px
    }
  }
}
